.AvatarDesc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightDesc, .leftDesc{
    margin-bottom: 20px;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    opacity: 1;
}

.leftFloat{
    padding-right: 180px;
    padding-left: 180px;
    text-align: left;
}

.rightFloat{
    padding-left: 180px;
    padding-right: 180px;
    text-align: right;
}
.leftName, .rightName{
    font-family: "Sacramento", Arial, serif;
    color: #F14E95;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 30px;
}